<?xml version="1.0" ?>
<events>
	<event id="event01">
		<name>Invasion of Poland</name>
		<date>1 September - 6 October 1939</date>
		<location>Poland, Eastern Germany</location>
		<party>Germany, Poland</party>
		<description>The Invasion of Poland, known in Poland as the September Campaign (Kampania wrześniowa) or the 1939 Defensive War (Wojna obronna 1939 roku), and in Germany as the Poland Campaign (Polenfeldzug) or Fall Weiss ("Case White"), was a joint invasion of Poland by Germany, the Soviet Union, and the Slovak client-state that marked the beginning of World War II</description>
	</event>
	<event id="event02">
		<name>Battle of France</name>
		<date>10 May – 25 June 1940</date>
		<location>France</location>
		<party>Germany, Italy, France, United Kingdom, Belgium, Canada, Netherlands, Luxembourg, Poland, Czechoslovakia</party>
		<description>The Battle of France, also known as the Fall of France, was the German invasion of France and the Low Countries during the Second World War. In the six weeks from 10 May 1940, German forces defeated Allied forces by mobile operations and conquered France, Belgium, Luxembourg and the Netherlands, bringing land operations on the Western Front to an end until 6 June 1944. Italy entered the war on 10 June 1940 and invaded France over the Alps.</description>
	</event>
	<event id="event03">
		<name>Anschluss</name>
		<date>12 March 1938</date>
		<location>Austria</location>
		<party>Germany, Austria</party>
		<description>Anschluss refers to the annexation of Austria into Nazi Germany on 12 March 1938</description>
	</event>
</events>